<app-navigation></app-navigation>
<div class=" d-flex justify-content-center">
    <aside class="col-lg" style="margin: 5% 5% 5% 5%;">
        <div class="card">
            <article class="card-body">
                <h4 class="card-title mb-4 mt-1">Administración de Cuentas</h4>
                <hr>
                <div class="row">
                    <!-- table -->
                    <div class="col-md-4 table-responsive">
                        <div class="card" style="margin-bottom: 10px;">
                            <article class="card-body">
                                <div class="form">
                                    <form #form autocomplete="off">
                                        <div class="form-row">
                                            <div class="col form-group">
                                                <label>Numero de Cuenta: </label>
                                            </div> 
                                            <div class="col form-group">
                                                <input name="quantity" class="form-control" placeholder="Cuenta" [(ngModel)]="newAccount.numero"
                                                    required>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col form-group">
                                                <label>Descripción: </label>
                                            </div>
                                            <div class="col form-group">
                                                <input name="quantity" class="form-control" placeholder="Descripción" [(ngModel)]="newAccount.descripcion"
                                                    required>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col form-group">
                                                <label>Cliente: </label>
                                            </div>
                                            <div class="col form-group">
                                                <input name="quantity" class="form-control" placeholder="Cliente" [(ngModel)]="newAccount.cedulaCliente"
                                                    required>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="col form-group">
                                                <label>Saldo: </label>
                                            </div>
                                            <div class="col form-group">
                                                <input name="quantity" class="form-control" placeholder="Saldo" [(ngModel)]="newAccount.saldo"
                                                    required>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="col form-group">
                                                <label>Moneda: </label>
                                            </div>
                                            <div class="col form-group">
                                                <div ngbDropdown class="d-inline-block">
                                                    <button class="btn btn-outline-primary" id="dropdownBasic1"
                                                        ngbDropdownToggle>{{selectedValue}}</button>
                                                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                                        <button ngbDropdownItem
                                                            (click)="selectMoneda('Colones',1)">Colones</button>
                                                        <button ngbDropdownItem (click)="selectMoneda('Dolares',2)">
                                                            Dolares</button>
                                                        <button ngbDropdownItem (click)="selectMoneda('Euros',3)">
                                                            Euros</button>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col form-group">
                                                <label>Tipo: </label>
                                            </div>
                                            <div class="col form-group">
                                                <div ngbDropdown class="d-inline-block">
                                                    <button class="btn btn-outline-primary" id="dropdownBasic1"
                                                        ngbDropdownToggle>{{selectedType}}</button>
                                                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                                        <button ngbDropdownItem
                                                            (click)="selectType('Corriente',1)">Corriente</button>
                                                        <button ngbDropdownItem (click)="selectType('Ahorros',2)">
                                                            Ahorros</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col form-groupform-group">
                                            <button class="btn btn-primary btn-block" (click)="add()">Agregar</button>
                                        </div>

                                    </form>
                                </div>
                            </article>
                        </div>

                    </div>
                    <div class="col-md-8">
                        <!-- Employee data -->
                        <div class="card">

                            <div class="card-body">
                                <div>

                                    <div class=table-wrapper>
                                        <table class="table table-hover bike-table">
                                            <thead>
                                                <tr>
                                                    <th>Cuenta</th>
                                                    <th>Saldo</th>
                                                    <th>Descripción</th>
                                                    <th>Cliente</th>
                                                    <th>Tipo</th>
                                                    <th>Moneda</th>
                                                    <th colspan="2"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let account of this.accounts">
                            
                                                    <td *ngIf='editingID != account.numeroCuenta'>{{account.numeroCuenta}}</td>
                                                    <td *ngIf='editingID == account.numeroCuenta'>{{account.numeroCuenta}}</td>
                                                    <td *ngIf='editingID != account.numeroCuenta'>{{account.saldo}}</td>
                                                    <td *ngIf='editingID == account.numeroCuenta'>{{account.saldo}}</td>
                                                    <td *ngIf='editingID != account.numeroCuenta'>{{account.descripcion}}</td>
                                                    <td *ngIf='editingID == account.numeroCuenta'><input value="{{selectedAccount.descripcion}}"
                                                        [(ngModel)]="selectedAccount.descripcion" class="form-control"></td>
                                                    
                                                    <td *ngIf='editingID != account.numeroCuenta'>{{account.cedulaCliente}}</td>
                                                    <td *ngIf='editingID == account.numeroCuenta'>{{account.cedulaCliente}}</td>
                                                    <td *ngIf='editingID != account.numeroCuenta'>
                                                        <div *ngIf='account.tipo==1'>
                                                            Corriente

                                                        </div>
                                                        <div *ngIf='account.tipo==2'>
                                                            Ahorros

                                                        </div>
                                                    </td>
                                                    <td *ngIf='editingID == account.numeroCuenta'>
                                                        <div ngbDropdown class="d-inline-block">
                                                            <button class="btn btn-outline-primary" id="dropdownBasic1"
                                                                ngbDropdownToggle>{{editTipo}}</button>
                                                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                                                <button ngbDropdownItem
                                                                    (click)="selectTypeEdit('Corriente',1)">Corriente</button>
                                                                <button ngbDropdownItem (click)="selectTypeEdit('Ahorros',2)">
                                                                    Ahorros</button>
                                                            </div>
                                                        </div>
                                                        </td>
                                                    <td *ngIf='editingID != account.numeroCuenta'>
                                                        <div *ngIf='account.moneda==1'>
                                                            Colones

                                                        </div>
                                                        <div *ngIf='account.moneda==2'>
                                                            Dolares

                                                        </div>
                                                        <div *ngIf='account.moneda==3'>
                                                            Euros

                                                        </div>
                                                    </td>
                                                    <td *ngIf='editingID == account.numeroCuenta'>{{account.moneda}}</td>

                                                    <th scope="row">
                                                        <button *ngIf='editingID != account.numeroCuenta' (click)="edit(account)" class="btn-icon" placement="top"
                                                            ngbTooltip="Editar">
                                                            <i class="fa fa-edit" aria-hidden="true"></i>
                                                        </button>
                                                        <button *ngIf='editingID == account.numeroCuenta' (click)="submit()" class="btn-icon" placement="top"
                                                            ngbTooltip="Aceptar">
                                                            <i class="fa fa-check" aria-hidden="true"></i>
                                                        </button>
                                                    </th>
                                                    <th scope="row">
                                                        <button (click)="delete(account.numeroCuenta)" class="btn-icon" placement="top"
                                                            ngbTooltip="Eliminar">
                                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                                        </button>
                                                    </th>
                                                </tr>
                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div> <!-- card.// -->
                        <br />
                        <br />
                    </div>
                </div>
            </article>
        </div> <!-- card.// -->
    </aside> <!-- col.// -->
</div> <!-- row.// -->

<!--container end.//-->