<app-navigation></app-navigation>
<div class=" d-flex justify-content-center">
    <aside class="col-lg" style="margin: 5% 5% 5% 5%;">
        <div class="card">
            <article class="card-body">
                <h4 class="card-title mb-4 mt-1">Reporte</h4>
                <hr>
                <div class="row">
                    <!-- table -->
                    <div class="col-md-12 ">
                        <div class="card" style="margin-bottom: 10px; min-height: 80vh;">
                            <article class="card-body">
                                <pdf-viewer [src]="source" [fit-to-page]="true" [render-text]="true" [show-all]="true" style="display: block;">

                                </pdf-viewer>
                                </article>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </aside>
</div>
