
<app-navigation></app-navigation>
<div class="container-fluid" style="background-color: #fafafa; height: 100vh;">
    <div class="row d-flex justify-content-center">
        <aside class="col-sm-4" style="margin-top: 10%; ">
            <div class="card">
                <article class="card-body">
                    <h4 class="card-title text-center mb-4 mt-1">Iniciar sesión</h4>
                    <hr>
                    <form #form autocomplete="off" >
                        <div class="form-group">
                            <label>Usuario</label>
                            <input #Email  [(ngModel)]="newCredentials.user" name="Email" class="form-control" placeholder="Usuario" type="email"
                                required>
                            
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <label>Contraseña</label>
                            <input type="password" #Password [(ngModel)]="newCredentials.password" name="Password" class="form-control"
                                placeholder="Password" required>
                            
                        </div> <!-- form-group// -->

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block" [disabled]="form.invalid" (click)="submit()"> Iniciar sesión </button>
                        </div> <!-- form-group// -->
                        <p class="text-center"><a routerLink="/Registro" class="btn">¿No tiene una cuenta?</a></p>
                    </form>
                </article>
            </div> <!-- card.// -->

        </aside> <!-- col.// -->
    </div> <!-- row.// -->

</div>
<!--container end.//-->